* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Alkatra", cursive;
  font-family: "Fredericka the Great", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Source Serif Pro", serif;
  font-family: 'Lato', sans-serif; */
  font-family: "Lobster", cursive;
}

h1 {
  font-size: 1.2em;
  font-weight: bolder;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 2rem;
}

h4 {
  color: #ff6542;
  font-size: 15px;
}

/* Styling for Nav, Header & Footer */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #f1ffe7;
  padding: 0.7rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* padding-top: 1.2rem; */
  align-items: center;
  align-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-center {
  text-align: center;
  font-family: "Fredericka the Great", cursive;
  font-size: 2rem;
  margin: 0;
  padding-left: 16rem;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  color: rgb(156, 156, 156);
}

.nav-right a {
  text-decoration: none;
  color: rgb(156, 156, 156);
}

.nav-right a:hover {
  color: rgb(32, 32, 32);
  transition: all 0.3s ease;
}

.nav-right h6 {
  font-size: 1.3rem;
}

/* End styling for Nav, Header & Footer */

/* Styles for main and title */
.titelbild {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url("img/header2.png") no-repeat center;
  background-size: cover;
  margin-top: 3.5rem;
}

.titelbild h1 {
  text-align: center;
  padding: 0.5em;
  background-color: rgb(241, 255, 231, 0.7);
  width: 60vw;
  border-radius: 10px;
  font-family: "Fredericka the Great", cursive;
  font-size: 2.5em;
}
/* End styles for main and title */

/* Container */

.main-rezept {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15vh 10vw 0 10vw;
}

#kürbis-hs {
  flex: 1;
  width: 60%;
}
#kürbis-hs:hover {
  cursor: pointer;
}
.description-box {
  flex: 1;
  background-color: #f1ffe7;
  margin: 2rem 2.5rem 0rem 0rem;
  padding: 2rem;
  text-align: justify;
  border-radius: 10px;
}

.empfehlung-titel {
  font-size: 2rem;
  color: black;
  padding: 0rem 0rem 0.6rem 0rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.kürbis-description {
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
}
.kürbis-p {
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ff6542;
  font-size: 12px;
  text-align: center;
  padding: 0.1rem;
  opacity: 0.8;
  color: black;
  width: 8rem;
  border-radius: 0.4rem;
}

#main-container {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 3rem;
  text-align: center;
  height: 90vh;
}
#rezepte-titel {
  font-size: 2rem;
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.main-rezepte {
  padding: 4%;
}

.rezept-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.5rem;
  justify-content: center;
}

.rezept-container img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.rezepte {
  display: flex;
  flex-wrap: wrap;
  /* border: solid 1px green; */
  text-align: center;
}

/* .rezepte:hover {
  scale: 1.05;
} */

.rezepte a {
  text-decoration: none;
}

.box1,
.box2,
.box3 {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  overflow: hidden;
  border-radius: 3px;
  /* border: solid 1px green; */
}

.box4,
.box5,
.box6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: black;
  padding: 0.8rem;
  /* border: solid 1px red; */
}

.kürbis-p2 {
  justify-content: center;
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #ff6542;
  font-size: 12px;
  padding: 0.1rem;
  opacity: 0.8;
  width: 8rem;
  border-radius: 0.4rem;
  /* border: solid 1px red; */
}
.rezept-p {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-items: center;
  background-color: #ff6542;
  text-align: center;
  padding: 0.1rem;
  opacity: 0.8;
  color: black;
  width: 8rem;
  border-radius: 0.4rem;
}
.rezept-img {
  width: 100%;
}

/* End container */

/* footer */
footer {
  background-color: #ff6542;
  height: 23rem;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 62rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  list-style: none;
}

.food-group {
  padding-top: 0.3rem;
}

.helpful-links {
  padding-top: 0.3rem;
}

.foot-left h2 {
  margin: 0;
  text-align: start;
  font-family: "Fredericka the Great", cursive;
  font-size: 3rem;
}

.foot-left h2:hover {
  cursor: pointer;
}

.helpful-links ul {
  text-align: start;
  padding: 0;
}

.food-group ul {
  text-align: start;
  padding: 0;
}

/* end footer */

/* header-unterseite  */

.container-unterseite {
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.titel-unterseite {
  margin: 8rem 0rem 1rem 0rem;
  font-size: 2.5rem;
  color: black;
  padding: 0rem 0rem 0.6rem 0rem;
  font-family: "Fredericka the Great", cursive;
  font-weight: bolder;
}

.autor {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.avatar-autor {
  width: 5%;
  padding: 0.5rem;
}
.autor-name {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  margin-top: 1rem;
}

#kürbis-us {
  width: 50%;
  border-radius: 3px;
}

.niveau {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.niveau-us {
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ff6542;
  font-size: 12px;
  text-align: center;
  padding: 0.1rem;
  margin: 0rem 1rem 2rem 0rem;
  opacity: 0.8;
  color: black;
  width: 8rem;
  border-radius: 0.4rem;
}

/* background-color: #2a2b2e; */

/* Recipe general */
.main-rezeptseite {
  margin-top: 3.5rem;
}
/* End Recipe general */

/* Description and ingredients */
/* .recipe_desc {
  border: 4px solid blue;
}

.recipe_desc .row {
  border: 4px solid green;
} */

.recipe_desc .row > div {
  /* border: 4px solid orange; */
  background-color: #f1ffe7;
}

.recipe_desc .recipeH {
  /* background-color: pink; */
  font-size: 2rem;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  padding: 2rem;
}

.recipe_desc .desc {
  /* background-color: violet; */
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  text-align: justify;
}

.recipe_desc .ingredientH {
  /* background-color: green; */
  text-transform: uppercase;
}
.container {
  padding: 2rem;
}
.row {
  font-family: "Barlow", sans-serif;
  font-family: "Roboto", sans-serif;
}
.ingredientH {
  margin: 0 auto;
  margin: 0rem 0rem 1rem 0rem;
}
.recipe_desc .quantity {
  /* background-color: red; */
  font-weight: 700;
}

.recipe_desc .ingredient {
  /* background-color: yellow; */
}
/* End Description and ingredients */

/* Steps Styling */

.artsection-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lato", sans-serif;
  padding: 3rem;
}

.artsection-wrapper p {
  text-align: justify;
  width: 100%;
  justify-content: center;
  line-height: 1.8;
  font-size: 1.1rem;
  padding: 1rem;
}

.steps-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 3.3rem;
  font-size: 1.5rem;
  width: 10rem;
}

.step {
  font-weight: 600;
}

.step-number {
  width: 3rem;
  height: 3rem;
  background: #2a2b2e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  order: 1;
  margin-left: 0.5rem;
  font-weight: 700;
}

.ingredients {
  display: flex;
}

.ingredients p {
  margin: 0;
  margin-left: 1rem;
  align-self: center;
  line-height: 1.5;
}
