* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Alkatra", cursive; */
  font-family: "Lobster", cursive;
}

h1 {
  font-size: 1.2 em;
}

h2 {
  font-size: 1 em;
}

h3 {
  font-size: 0.7 em;
}

h4 {
  color: #ff6542;
  font-size: 15px;
}

/* Styling for Nav, Header & Footer */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #f1ffe7;
  padding: 0.7rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* padding-top: 1.2rem; */
  align-items: center;
  align-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* .nav-center {
  text-align: center;
} */

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  color: rgb(156, 156, 156);
}

.nav-right a {
  text-decoration: none;
  color: rgb(156, 156, 156);
}

.nav-right a:hover {
  color: rgb(32, 32, 32);
  transition: all 0.3s ease;
}

.nav-right h6 {
  font-size: 1.3rem;
}
/* End styling for Nav, Header & Footer */

/* Styles for main and title */
.titelbild {
  height: 50vh;
  background: url("img/header2.png") no-repeat center;
  background-size: cover;
  padding: 4em;
}

.titelbild h1 {
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;
  background-color: rgb(241, 255, 231, 0.7);
  width: 60vw;
  border-radius: 10px;
}
/* End styles for main and title */

/* Container */

.main-rezept {
  display: flex;
  flex-wrap: wrap;
}

#k端rbis-hs {
  width: 60%;
  height: 70%;
  padding: 8rem 0rem 0rem 12rem;
}
#k端rbis-hs:hover {
  cursor: pointer;
}
.description-box {
  background-color: #f1ffe7;
  width: 22vw;
  height: 55vh;
  margin: 10rem 2.5rem 0rem 0rem;
  padding: 2rem;
  text-align: justify;
}

.empfehlung-titel {
  font-size: 2rem;
  color: black;
  padding: 0rem 0rem 0.6rem 0rem;
}
.k端rbis-description {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.k端rbis-p {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ff6542;
  font-size: 12px;
  text-align: center;
  padding: 0.1rem;
  opacity: 0.8;
  color: black;
  width: 8rem;
  border-radius: 0.4rem;
}

#main-container {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 3rem;
  text-align: center;
  height: 90vh;
}
#rezepte-titel {
  font-size: 2.5rem;
  text-align: center;
  color: black;
}
.main-rezepte {
  padding: 4%;
}

.rezept-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.5rem;
}
.rezepte {
  display: flex;
  flex-wrap: wrap;
}

.box1,
.box2,
.box3 {
  width: 100%;
  font-weight: bolder;
}

.box1,
.box2,
.box3:hover {
  cursor: pointer;
}
.box4,
.box5,
.box6 {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: black;
  width: 100%;
  border: 0.5px solid #f1ffe7;
  text-align: center;
  padding: 0.8rem;
}
.rezept-p {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-items: center;
  background-color: #ff6542;
  text-align: center;
  padding: 0.1rem;
  opacity: 0.8;
  color: black;
  width: 8rem;
  border-radius: 0.4rem;
}
.rezept-img {
  width: 100%;
}

/* End container */

/* footer */
footer {
  background-color: #2a2b2e;
  height: 25rem;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: "Alkatra", cursive;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  list-style: none;
}

.helpful-links {
  padding-left: 0px;
}

/* end footer */
